<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AMPLITUDE_KEY</key>
	<string>$(AMPLITUDE_KEY)</string>
	<key>BASE_URL</key>
	<string>$(BASE_URL)</string>
	<key>NAVER_MAP_CLIENT_ID</key>
	<string>$(NAVER_MAP_CLIENT_ID)</string>
	<key>UIAppFonts</key>
	<array>
		<string>SUIT-Bold.otf</string>
		<string>SUIT-ExtraBold.otf</string>
		<string>SUIT-Medium.otf</string>
		<string>SUIT-SemiBold.otf</string>
		<string>SFProDisplay-Bold.otf</string>
		<string>SFProDisplay-Semibold.otf</string>
		<string>SFProDisplay-Regular.otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
